@font-face {
    font-family: arcade; /* Имя шрифта */
    src: url(fonts/arcadeclassic.regular.ttf); /* Путь к файлу со шрифтом */
}
body{
    margin: 0px;
}
.flex{
    display: flex;
}
.center{
    align-items: center;
}
.container{
    max-width: 1920px;
    margin: 0 auto;
}
h1{
    text-align: center;
    font-family: arcade;
    font-size: 1600%;
}
h2{
    text-align: center;
    font-family: arcade;
    font-size: 1000%;
    margin-top: -10%;
}
#red{
    color: red;
}